* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

#header {
font-size: 24px;
padding: 10px;
text-align: center;
background-color: #ededee;

position: fixed;
top: 0;
left: 0;
right: 0;

box-shadow: 2px 2px 1px rgba(178, 178, 180, 0.582);
}

#joke {
  width: 380px;
  height: 250px;
  padding: 10px;
  text-align: center;
  background-color: #fafafa;
  margin: 8rem auto 1.5rem auto;

  font-size: 21px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.247);
}

#get-joke-button {
    padding: 5px 8px;
    display: block;
    margin: 0 auto;
    color: rgb(250, 249, 249);
    background-color: black;

    font-size: 18px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px gray;
}

#get-joke-button:active {
  opacity: 0.5;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 22px;
  padding: 10px;
  text-align: center;

  background-color: black;
  color: #ededee;
}
