* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
}

#header {
font-size: 24px;
padding: 10px;
text-align: center;
background-color: #ededee;

position: fixed;
top: 0;
left: 0;
right: 0;

box-shadow: 2px 2px 1px rgba(178, 178, 180, 0.582);
}

#joke {
  width: 320px;
  height: 300px;
  padding: 10px;
  text-align: center;
  background-color: #fafafa;
  margin: 8rem auto 1.5rem auto;

  font-size: 22px;
  box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.247);
}

#get-joke-button {
    padding: 5px 8px;
    display: block;
    margin: 0 auto;
    color: rgb(250, 249, 249);
    background-color: black;

    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px gray;
}

#get-joke-button:active {
  opacity: 0.5;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 22px;
  padding: 10px;
  text-align: center;

  background-color: black;
  color: #ededee;
}

/* Dog Button Code */

#dog-button-div {
  position: fixed;
  right: 20px;
  bottom: 95px;
}

#dog-button {
  padding: 2px 4px;
  font-size: 22px;

  border: none;
  border-radius: 2px;
  background-color: rgb(227, 234, 241);
  color: rgb(4, 5, 32);

  box-shadow: 2px 2px 2px rgba(48, 52, 58, 0.562);
  cursor: pointer;
}

#dog-button:active {
  box-shadow: 2px 2px 2px rgb(50, 54, 61);
}

#arrow {
  font-size: 20px;
}
